table {
	width: 460px;
	height: 250px;
	font-family: Arial;
	font-size: 13pt;
}
td {
	text-align: center;
	vertical-align: top;
	padding-top: 0;
	height: 45px;
}
.verde {
	background-color: rgb(156,211,122);
}
.amarillo {
	background-color: rgb(221,190,131);
	height: 40px;
	vertical-align: top;
}
.rojo {
	background-color: rgb(221,139,152);
}