table {
	width: 450px;
	height: 200px;
	font-family: Arial;
	font-size: 13pt;
}
td {
	text-align: center;
	vertical-align: top;
	padding-top: 0px;

}
th {
	text-align: center;
	vertical-align: top;

}
.azul {
	background-color: rgb(103,169,236);
	width: 80px;
}