table {
	height: 375px;
	width: 650px;
}
th {
	border-bottom: 2px solid blue;
}
td {
	border-color: blue;
}
.rojo {
	background-color: rgb(213,135,135);
}
.azul {
	background-color: rgb(162,202,242)
}
.Primera {
	font-weight: bold;
}
.Segunda {
	text-align: left;
	vertical-align: top;
}
.Tercera {
	text-align: right;
	vertical-align: middle;
}
.Cuarta {
	text-align: center;
	vertical-align: bottom;
}